@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Ubuntu Mono', sans-serif;
}

/**
 * Color container
 */
#colors {
    width: 100%;
    height:100%;
    position: absolute;
}

/**
 * Palette Meta data
 */

#palette_meta {
    background: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: bold;
    border-radius: 1em;
    padding: 10px;
    -webkit-box-shadow: 10px -2px 67px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px -2px 67px 0px rgba(0,0,0,0.6);
    box-shadow: 10px -2px 67px 0px rgba(0,0,0,0.6);
    width: 40%;
}

.meta_row {
    width: 100%;
    position: relative;
}

.meta_row .label {
    width: 30px;
}

#hex > span {
    margin: 0 5px;
}

#description {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#title {
    font-weight: bold;
}

/**
 *  BUTTONS
**/
.btn {
    position: absolute;
    top: 0;
    cursor: pointer;
    background: transparent;
}

.btn.left {
    left: 0;
}

.btn.right {
    left: 75px;
}

.triangle {
    display: inline-block;
    border-right: 24px solid;
    border-bottom: 24px solid;
    width: 50px;
    height: 50px;
}

.triangle.right {
    margin: 1.5em 0;
    transform: rotate(-45deg);
}

.triangle.left {
    margin: 1.5em 24px;
    transform: rotate(135deg);
}

.triangle.left:hover,
.triangle.right:hover {
    color: #5F5857;
}
